    <header>
        <section class="shoppingCart">

            <article class="logo">
                <img src="static/files/wp3.png" alt="">
            </article>
            <article class="nothing"></article>
            <article class="cart">
                <img src="static/files/wp4-2.png" alt="">
            </article>

        </section>

        <section class="photo" style="background-image: url('static/files/wp1.jpg');">
            <img src="" alt="">
        </section>
    </header>
