@import url('https://fonts.googleapis.com/css?family=Kadwa:400,700');
@import url('https://fonts.googleapis.com/css?family=Holtwood+One+SC');

* {
    font-family: 'Kadwa', serif;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.icon {
    width: 20px;
    height: 20px;
    img {
        width: 100%;
        height: 100%;
    }
}

button {
    font-family: 'Holtwood One SC', serif;
    background: #262d2f;
    color: white;
    padding: 5px 20px;
    margin: 0 7px;
    font-size: 10px;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    transition: .2s all ease;
    &:hover {
        box-shadow: #262d2f 2px 2px 5px;
    }
}
.sidebar {
    transform: translate(0,-1200px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 290px;
    width: 290px;
    height: 100vh;
    align-content: center;
    align-items: center;
    .logo {

        img {
            width: 135;
            height: 95px;
        }
    }
    
    .menu {
        margin-top: -40px;
        .desple{
            margin: 0px;
            padding: 0px;
            .desplegables0{transform: translate(-400px,0)}
            .desplegables1{transform: translate(-400px,0)}
            .desplegables2{transform: translate(-400px,0)}
            .desplegables3{transform: translate(-400px,0)}
            .desplegables4{transform: translate(-400px,0)}
            li{
                text-align: center;
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #262d2f;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }
    
    .registerForm {
        transform: translate(-400px,0);
        padding: 5px;
        width: 220px;
        border: 5px #262d2f solid;
        border-top: none;
        position: relative;
        form {
            padding: 15px;
            margin-bottom: 0;
            border: 1px #262d2f solid;
            border-top: none;
    
            display: flex;
            flex-direction: column;
            .inputText {
                color: #262d2f;
                font-size: 12px;
                border: 2px solid #262d2f;
                padding: 1px;
                width: 100%;
                margin: 4px 0;
                &::placeholder {
                    color: #afafaf;
                }
            }
            .checkCont {
                display: flex;
                margin: 5px;
                label {
                    color: #afafaf;
                    font-size: 12px;
                    line-height: 17px;
                }
                input{
        
                }
            }
    

    
            &:after {
                content: '';
                width: 100%;
                margin-left: -21px;
                margin-top: -50px;
                height: 65px;
                top: 0;
                position: absolute;
                background: url(../imgs/arabesc.png);
                background-size: cover;
            }
        }
    }
}


.upperBar {
    z-index: 5;
    display: flex;
    flex-direction: row;
    background: white;
    align-items: center;
    padding: 15px;
    width: 360px;
    position: fixed;
    right: 40px;
    top: 0;
    border-radius: 0 0 10px 10px;

    .searchingBar {
        margin: 5px 0;
        border: 2px solid #262d2f;
        padding: 5px 10px;
        background: white;
        display: flex;
        flex-direction: row;
        border-radius: 50px;
        flex-grow: 2;
        .searchIcon {
            width: 20px !important; 

        }
        .icon {
            width: 20px;
            height: 20px;
            padding: 0px;
            padding-right: 10px;

        }
        input {
            color: #262d2f;
            font-size: 12px;
            width: 100%;
            background: transparent;
            border: none;
            &::placeholder {
                color: #afafaf;
            }
            &:focus {
                outline: none;
            }
        }

    }

    .bag {
        width: 30px;
        height: 30px;
        padding: 0 20px;
        position: relative;
        &:after {
            content: '0';
            position: absolute;
            width: 15px;
            height: 15px;
            background: #9f2010;
            border-radius: 10px;
            right: 20px;
            margin-top: -10px;

            color: white;
            font-size: 10px;
            text-align: center;
            
        }
    }
}

.app {
    background: #eee8dd;
    flex-grow: 2;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 3.05px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(154, 135, 91, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #500031, 0px 0px 0px #6a0041;
    border: 3px solid #9a875b;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background: #9a875b;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.25px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(223, 216, 201, 0.78);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 3.9px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(154, 135, 91, 0.78);
    border-radius: 1.3px;
    border: 0.2px solid rgba(0, 0, 0, 0);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #500031, 0px 0px 0px #6a0041;
    border: 3px solid #9a875b;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background: #9a875b;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 3.9px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(42, 37, 25, 0.78);
    border: 0.2px solid rgba(0, 0, 0, 0);
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(154, 135, 91, 0.78);
    border: 0.2px solid rgba(0, 0, 0, 0);
    border-radius: 2.6px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #500031, 0px 0px 0px #6a0041;
    border: 3px solid #9a875b;
    height: 10px;
    width: 10px;
    border-radius: 15px;
    background: #9a875b;
    cursor: pointer;
    height: 3.9px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(154, 135, 91, 0.78);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(223, 216, 201, 0.78);
  }
  