body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: #BFA676;
}

section {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shoppingCart {
  background-color: #F8F5F2;
  height: 100px;
}

.shoppingCart article.logo {
  height: 100%;
  width: 20%;
}

.shoppingCart article.logo img {
  margin-left: 20vh;
  margin-top: 20px;
  height: 60%;
}

.shoppingCart article.cart img {
  margin-top: 40px;
  height: 30%;
  padding-left: 60px;
}

.shoppingCart article.nothing {
  height: 100%;
  width: 60%;
}

.shoppingCart article.cart {
  height: 100%;
  width: 20%;
}

.shoppingCart article.cart input {
  color: inherit;
  background: url("/static/files/wp4-2.png");
  background-size: 100px;
  margin-top: 10px;
  height: 80%;
  width: 100px;
}

.shoppingCart article.cart input img {
  height: 20px;
}

.photo {
  background-image: url("static/files/wp1.jpg");
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.photo img {
  height: 100%;
  width: 100%;
  margin: auto;
}

.variables {
  background-color: #F8F5F2;
  margin: auto;
  height: 100px;
}

.variables article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 2vh;
}

article.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

article.tags p {
  margin-left: 20px;
}

select#limits {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  border: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  height: 20px;
  font-size: 5pt;
}

.products {
  background-color: #F8F5F2;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products article {
  width: 15%;
  height: 100%;
  margin: 0 20px;
}

.products article img {
  height: 200px;
}

.products article img:hover {
  height: 250px;
  background-blend-mode: hard-light;
}

.register {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.register article {
  margin: 0 20px;
  height: 2vh;
  height: 2vh;
}

.register article button {
  width: 200px;
  height: 30px;
  background-color: black;
  border: none;
  font-size: 8pt;
  letter-spacing: 2px;
  color: white;
}

.register article button:hover {
  background-color: #F8F5F2;
  color: black;
  color: green;
}

.register article input {
  width: 200px;
  height: 25px;
  font-size: 8pt;
  padding-left: 10px;
}

.check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90px;
  background-color: white;
  color: black;
  font-size: 5pt;
}

.interest {
  background-color: black;
  color: white;
  height: 400px;
  font-size: 8pt;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interest article {
  margin: 60px 30px 10px 30px;
  padding: 0px 30px;
}

.interest article p {
  padding-top: 20px;
}

main #items {
  margin: 0 0 0 9%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  text-align: center;
  padding: 8px;
}

main #items a {
  color: inherit;
  text-decoration: none;
}

main #items div {
  position: relative;
}

main #items div p {
  margin-bottom: 0px;
  margin-top: 2px;
  font-size: 9pt;
  width: 60%;
}

main #items div img {
  z-index: -0px;
  width: 100%;
}

main #items div div {
  width: 60%;
  position: relative;
}

main #items div div button {
  position: absolute;
  right: 10px;
  bottom: 20px;
}

main #Productos {
  margin-top: 100px;
  margin-bottom: 100px;
  color: black;
  font-family: "Nunito", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #Productos .recomendaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: end;
  justify-self: end;
}

main #Productos .recomendaciones img {
  margin: 0px 0px 20px 0px;
  width: 60px;
  height: 60px;
}

main #Productos .productoPrincipal {
  height: 560px;
}

main #Productos .productoPrincipal img {
  height: 560px;
}

main #Productos .datosproductoPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main #Productos .datosproductoPrincipal p.Norm {
  text-align: left;
  padding-right: 200px;
}

main #Productos .datosproductoPrincipal div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #Productos .datosproductoPrincipal div.row p.Cantidad {
  margin: 0px;
  margin-right: 20px;
}

main #Productos .datosproductoPrincipal div.row input {
  margin: 0px;
}

main #Productos .datosproductoPrincipal button.compra {
  width: 200px;
  height: 30px;
  background-color: #BFA676;
  border: none;
  font-size: 8pt;
  letter-spacing: 2px;
  color: white;
}

main #Productos .datosproductoPrincipal .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #Productos .datosproductoPrincipal button.compra:hover {
  background-color: #F8F5F2;
  color: black;
  color: green;
}

main #Productos .datosproductoPrincipal p.Tit {
  margin-top: 0px;
  font-size: 30px;
}

div.soloBorde {
  border: #BFA676;
  border-style: solid;
  border-width: thin;
}

main #CarritoDeCompra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}

main #CarritoDeCompra .space1 {
  width: 10%;
  height: 400px;
}

main #CarritoDeCompra .bolsaDeCompra {
  margin: 5px;
  width: 50%;
  height: 400px;
}

main #CarritoDeCompra .bolsaDeCompra div.imagen--soloBorder {
  width: 50%;
}

main #CarritoDeCompra .bolsaDeCompra div.Info-Button--soloBorder {
  width: 20%;
}

main #CarritoDeCompra .bolsaDeCompra div.soloBorder {
  height: 100px;
  border: #BFA676;
  border-style: solid;
  border-width: thin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #CarritoDeCompra .bolsaDeCompra img {
  margin-left: 20px;
  margin-top: 20px;
  height: 70%;
}

main #CarritoDeCompra .resumen {
  margin: 5px;
  width: 30%;
  height: 400px;
}

main #CarritoDeCompra .resumen p {
  margin: 0px;
  border: #BFA676;
  border-style: solid;
  border-width: thin;
}

main #CarritoDeCompra .resumen div.online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: #BFA676;
  border-style: solid;
  border-width: thin;
}

main #CarritoDeCompra .resumen div.online p.s {
  padding-left: 14px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50%;
  border: none;
}

main #CarritoDeCompra .resumen div.online p.e {
  padding-left: 140px;
  width: 50%;
  border: none;
}

main #CarritoDeCompra .space2 {
  width: 10%;
  height: 400px;
}

.input-group-field {
  width: 50px;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */